.cabecalho{
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    margin: 1.5rem 24px;
}
.cabecalho__container{
  margin-right: 15px;
  margin-top: 10px;
    
}
.cabecalho__input{
    width: 350px;
    padding: 5px;
    background: #FFF;
    color: #444;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: aqua;
}
.cabecalho__loopa{
text-align: center;
justify-content: center;
}